@font-face {
    font-family: 'Inter-Bold' ;
    src: url('assets/fonts/static/Inter-Bold.ttf');
  }

  @font-face {
    font-family: 'Inter-ExtraBold' ;
    src: url('assets/fonts/static/Inter-ExtraBold.ttf');
  }
  @font-face {
    font-family: 'Inter-Regular' ;
    src: url('assets/fonts/static/Inter-Regular.ttf');
  }

body{
    max-width: 480px ;
    min-width: 370px;
    margin: auto;
    font-family: Inter-Regular;
}
.main-container{
    padding: 15px;
    background-color: white;

}

.one-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 0;

}

figure{
    margin: 0;
}

/* Start of Ham menu for mobile*/


.off-screen-menu{
    background-color: white;
    height: 100vh;
    width: 100%;
    max-width: 70%;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 4rem;
    color: rgb(74, 73, 73);
    padding-top: 15vh;
    transition: .3s ease;
}

.off-screen-menu ul {
list-style:none;
}

.off-screen-menu.active{
    right: 0;
}

nav{
    padding: 1rem;
    display: flex;
    background-color: white;
}

.ham-menu{
    height: 50px;
    width: 50px;
    margin-right: auto;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1){
    top: 25%;
}

.ham-menu span:nth-child(3){
    top: 75%;
}

.ham-menu.active span:nth-child(1){
    top:50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu.active span:nth-child(2){
    opacity: 0;
}

.ham-menu.active span:nth-child(3){
    top:50%;
    transform: translate(-50%, -50%) rotate(45deg);
}


/* End of Ham menu for mobil*/



/*Header starts*/

.second-container{
    width: 100%;
    padding-bottom: 20px;
}

h2{
    width: 80%;
    margin: 20px 0;
    font-size: 2.25rem;
    font-family: Inter-Bold;
}

 p {
    color: rgb(73, 73, 73);
    font-weight: thin;
    font-size: .95rem;
    line-height: 1.75rem;
}

button{
    background-color: rgb(255, 87, 68);
    border: none;
    width: 50%;
    height: 50px;
    margin: 10px 0 35px 0;
    font-family: inter-bold;
    font-size: .9rem;
    text-transform: uppercase;
    letter-spacing: 4px;
}

button:hover{
    color: white;
    background-color: black;
}



/*Header ends*/


.third-container{
    background-color: black;
    color: aliceblue;
    padding: 30px 20px;
}

.third-container h3 {
    font-size: 1.75rem;
    font-family: Inter-Bold;
    color: orange;
    margin: 0;
    

}

.third-container h4 {
    font-size: 1.25rem;
    font-family: Inter-Bold;
    margin: 10px 0;
}

.third-container p {
    color: rgb(164, 164, 164);
    font-size: .9rem;
    line-height: 1.5rem;
}

.content-one, .content-two{
    border-bottom: white solid 1px;
    padding: 15px 0;

}

.content-three {
    padding-top: 30px;
}


.fourth-container{
    padding: 45px 0 ;
}
.one-third-container{
    max-width: 100%;
    display: flex;
    padding: 20px 0;
}

.one-third-container h4, h5, p {
    width: 100%;
}
.content h4 {
    font-family: Inter-Bold;

    font-size: 2rem;
    margin: 0;
    color: salmon;
}

.content h5{
    font-family: Inter-Bold;
    font-size: 1rem;
    margin: 15px 0;
}

.content p {
    margin: 0;
}

.one-third-container img{
    width: 30%;
    margin-right: 35px;
}

.full-image img{
    width: 100%;
}




